body{
    background-image: url(img/bar.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
hr{
    width: 400px;
    border-color: black;
}
header{
    height: 150px;
}

#container{
    width: 675px;
    height: auto;
    text-align: center;
    background-color: rgba(255,255,255, .8);
    margin: auto auto;
    padding: 0px 40px;
}
#image{
    position: relative;
    top: -100px;
    left: -55px;
    width: 175px;
    border-radius: 25px;
}
#text{
    text-align: center;
    position: relative;
    top: -75px;
    padding: 0px;
    font-size: 40px;
}
#background{
    font-size: 23px;
}
#ingredientlist{
    text-align: center;
    margin: 0px auto;
}
.ingredients{
    margin: 0px auto;
    font-size: 20px;
    list-style: none;
}
#stepslist{
    text-align: center;
    margin: 0px auto;
}
.steps{
    margin: 0px auto;
    font-size: 20px;
    list-style-position: inside;
}
.arrow{
    height: 100px;
    cursor: pointer;
}
.arrow:hover{
    background-color: RGBA(0,0,0,.5)
}
#arrow-right{
    position: relative;
    top: 250px;
    left: 500px;
    
}
#arrow-left{
    position: relative;
    top: 250px;
    left: -325px;
    
}