body{
    background-image: url(img/bar.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
hr{
    width: 400px;
    border-color: black;
}
header{
    display: flex;
    flex-direction: column;
    height: 75px;
    padding: 0px;
    margin: 0px;
}
#image{
    width: 100px;
    position: relative;
    top: 30px;
    border-radius: 25px;
    margin: auto auto;
}

#container{
    width: 600px;
    text-align: center;
    background-color: rgba(255,255,255, .8);
    margin: auto auto;
    padding: 0px 40px;
}
#text{
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 30px;
}
text-body{
    padding: 0;
}
#background{
    font-size: 18px;
}
#ingredientlist{
    list-style: none;
    text-align: center;
    margin: auto auto;
    padding: 0px 0px;
}
.ingredients{
    margin: 0px auto;
    font-size: 18px;
}
#stepslist{
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px;
}
.steps{
    margin: auto auto;
    font-size: 18px;
    list-style-position: inside;
}
.arrow{
    height: 75px;
    cursor: pointer;
}
.arrow:hover{
    background-color: RGBA(0,0,0,.5)
}
#arrow-right{
    position: relative;
    top: 225px;
    left: 375px;
    
}
#arrow-left{
    position: relative;
    top: 225px;
    left: -375px;
    
}